.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.banner {
  width: 300px;
  height: 150px;
  padding: 5px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  //padding: 5px 0;
 //border-shadow: 10px 2px 2px #fff;
  /* Position the tooltip */
  position: absolute;
  left: 220px;
  top: 50px;
  z-index: 1;
}

.tooltip .tooltipimg {
  visibility: hidden;

  /* Position the tooltip */
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding: 5px;
}

.tooltip .tooltipclick {
  visibility: hidden;

  /* Position the tooltip */
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding: 5px;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover .tooltipimg {
  visibility: visible;
}

.tooltip:active .tooltiptext {
  visibility: hidden;
}

.tooltip:active .tooltipimg {
  visibility: hidden;
}
.tooltip:active .tooltipclick {
  visibility: visible;
}

.tooltip:not:hover .tooltipclick{
  visibility: hidden;
}

body {
    background-color: #1C1B22;
    width: 100%;
    min-height: 100vh;
    display: overflow;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-wrap: anywhere;
    //padding-left: 50px;
    //padding-right: 50px;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
}