.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.banner {
  width: 240px;
  height: 120px;
  padding: 4px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  //padding: 5px 0;
 //border-shadow: 10px 2px 2px #fff;
  /* Position the tooltip */
  position: absolute;
  left: 200px;
  top: 50px;
  z-index: 1;
}

.tooltip .tooltipimg {
  visibility: hidden;
  width: 240px;
  height: 120px;
  /* Position the tooltip */
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding: 5px;
}

.tooltip .tooltipclick {
  visibility: hidden;

  /* Position the tooltip */
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding: 5px;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover .tooltipimg {
  visibility: visible;
}

.tooltip:active .tooltiptext {
  visibility: hidden;
}

.tooltip:active .tooltipimg {
  visibility: hidden;
}
.tooltip:active .tooltipclick {
  visibility: visible;
}

.tooltip:not:hover .tooltipclick{
  visibility: hidden;
}

body {
    background-color: #1C1B22;
    width: 100%;
    min-height: 100vh;
    display: overflow;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-wrap: anywhere;
    //padding-left: 50px;
    //padding-right: 50px;
}

.toggle {
    position: relative;
    width: 40px;
    height: 20px;
    border: 2px solid #aaaaaa;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.circle {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #aaaaaa;
    transition: .3s;
}
.boop {
    font-size: 23px;
    color: #494949;
}
.active {
    border-color: rgb(85, 227, 180);
}
.active + .boop {
    color: rgb(85, 227, 180);
}
.active .circle {
    left: 100%;
    transform: translateX(-100%);
    transition: .3s;
    background-color: rgb(85, 227, 180);
}

.container {
    float: left;
    padding: 5px;
}

.row {
    height: 120px;
}


#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
}